<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="catalog_category_view_datalayer" type="Adobe\LaunchCatalog\Plugin\CategoryViewedEvent" />
    </type>
    <type name="Adobe\AxpConnector\Observer\DatalayerObserver">
        <arguments>
            <argument name="datalayerProcessors" xsi:type="array">
                <item name="catalog_product_view" xsi:type="array">
                    <item name="launch_catalog_product_viewed" xsi:type="object">Adobe\LaunchCatalog\Model\ProductViewedEvent\Proxy</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
