<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Adobe\AxpConnector\CustomerData\Launch">
        <arguments>
            <argument name="launchSections" xsi:type="array">
                <item name="launch_customer_account_created" xsi:type="string">customer_account_create_datalayer_content</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Api\AccountManagementInterface">
        <plugin name="customer_account_create_datalayer_event" type="Adobe\LaunchCustomer\Plugin\CustomerAccountCreate"/>
    </type>
</config>
