<?xml version="1.0" encoding="UTF-8"?>
<!--
 /**
  * Copyright © Magento, Inc. All rights reserved.
  * See COPYING.txt for license details.
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <launch_api_config>
            <credentials>
                <adobe_org_id>your-org-id-here@AdobeOrg</adobe_org_id>
            </credentials>
            <launch>
                <datalayer_name>AppEventData</datalayer_name>
            </launch>
        </launch_api_config>
        <launch_general_config>
            <general>
                <enable>0</enable>
            </general>
        </launch_general_config>
    </default>
</config>
