<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="axpconnector" translate="label" sortOrder="2000">
            <label>Adobe Experience Platform</label>
        </tab>
        <section id="axpconnector_backend_config" translate="label" type="text" sortOrder="0" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Configuration</label>
            <tab>axpconnector</tab>
            <resource>Adobe_AxpConnector::axpconnector_config</resource>
            <class>separator-top</class>
            <group id="general" translate="label" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Data Layer Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="launch_script_url" translate="label" type="text" sortOrder="200" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Launch Script URL</label>
                    <comment>The script URL (or script tag) from the Launch interface.</comment>
                    <backend_model>Adobe\AxpConnector\Model\Config\Backend\LaunchScriptUrl</backend_model>
                </field>
            </group>
        </section>
        <section id="axpconnector_launch_property_config" translate="label" type="text" sortOrder="1" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Launch Property</label>
            <tab>axpconnector</tab>
            <resource>Adobe_AxpConnector::axpconnector_config</resource>
            <class>separator-top</class>
            <group id="launch_property" translate="label" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Launch Property Configuration</label>
                <field id="adobe_org_id" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Adobe Org ID*</label>
                    <validate>required-entry</validate>
                    <comment>The Adobe Org ID associated with the Adobe I/O Integration.</comment>
                    <backend_model>Adobe\AxpConnector\Model\Config\Backend\AdobeOrgId</backend_model>
                </field>
                <field id="client_id" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Client ID*</label>
                    <validate>required-entry</validate>
                    <comment>The client ID (API Key) associated with the Adobe I/O Integration.</comment>
                </field>
                <field id="client_secret" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Client Secret*</label>
                    <validate>required-entry</validate>
                    <comment>The client secret associated with the Adobe I/O Integration.</comment>
                </field>
                <field id="jwt" translate="label" type="textarea" sortOrder="200" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>JWT (JSON Web Token)*</label>
                    <validate>required-entry</validate>
                    <comment>The JWT associated with the Adobe I/O Integration.</comment>
                </field>
                <field id="prod_suite" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Production Report Suite ID</label>
                    <comment>The Adobe Analytics report suite ID associated with the production report suite.</comment>
                </field>
                <field id="stage_suite" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Staging Report Suite ID</label>
                    <comment>The Adobe Analytics report suite ID associated with the staging report suite.</comment>
                </field>
                <field id="dev_suite" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Dev Report Suite ID</label>
                    <comment>The Adobe Analytics report suite ID associated with the dev report suite.</comment>
                </field>
                <field id="property_name" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Launch Property Name</label>
                    <comment>The name to be given to the property.</comment>
                </field>
                <field id="start_provision" translate="label" type="button" sortOrder="200" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <frontend_model>Adobe\AxpConnector\Block\Adminhtml\Config\ProvisionButton</frontend_model>
                    <comment>Submit to create a new Launch property. Be sure to save the configuration first.</comment>
                </field>
                <field id="req_fields" translate="label" type="note" sortOrder="200" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <frontend_model>Adobe\AxpConnector\Block\Adminhtml\Config\ProvisionNotes</frontend_model>
                </field>
            </group>
        </section>
        <section id="axpconnector_backend_config_advanced" translate="label" type="text" sortOrder="0" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Advanced</label>
            <tab>axpconnector</tab>
            <resource>Adobe_AxpConnector::axpconnector_config</resource>
            <class>separator-top</class>
            <group id="advanced" translate="label" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="datalayer_name" translate="label" type="text" sortOrder="200" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Datalayer Name</label>
                    <comment>The name of the JavaScript variable used for the datalayer.</comment>
                    <backend_model>Adobe\AxpConnector\Model\Config\Backend\DatalayerName</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
