<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <axpconnector_backend_config>
            <general>
                <enable>0</enable>
            </general>
        </axpconnector_backend_config>
        <axpconnector_launch_property_config>
            <launch_property>
                <adobe_org_id>your-org-id-here@AdobeOrg</adobe_org_id>
                <client_id></client_id>
                <client_secret></client_secret>
                <jwt></jwt>
                <prod_suite></prod_suite>
                <stage_suite></stage_suite>
                <dev_suite></dev_suite>
            </launch_property>
        </axpconnector_launch_property_config>
        <axpconnector_backend_config_datalayer>
            <datalayer>
                <datalayer_name>AppEventData</datalayer_name>
                <launch_script_url>&lt;script src="//assets.adobedtm.com/your-script-here.js async&gt;&lt;/script&gt;
                </launch_script_url>
            </datalayer>
        </axpconnector_backend_config_datalayer>
    </default>
</config>