<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <axpconnector_backend_config>
            <general>
                <enable>0</enable>
                <launch_script_url>&lt;script src="//assets.adobedtm.com/your-script-here.js async&gt;&lt;/script&gt;
                </launch_script_url>
                <datalayer_name>AppEventData</datalayer_name>
            </general>
        </axpconnector_backend_config>
    </default>
</config>